<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>writing</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/compose.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script src="/scripts/analytics.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          {{#truthknown}}
          <form class="form-vertical" action="/compose" method="post" accept-charset="utf-8">
            <label for="input-fragment">
              <!-- triple mustache for unescaped html -->
              <h2>{{ title }}</h2>
            </label>
            <p>{{{ statement_requested }}}</p>
            <input type="hidden" name="entity_id" value="{{ entity_id }}">
            <p>
              <textarea name="fragment" placeholder="Pour your heart out here.." rows="6" id="input-fragment" required></textarea>
            </p>
            <button type="submit" class="btn btn-primary btn-large">review &rarr;</button>
            <a class="btn btn-large" href="/">back</a>
          </form>
          {{/truthknown}}
          {{^truthknown}}
          <!-- triple mustache for unescaped html -->
          <h2>Have you ever {{actioned}} {{{ entity }}}?</h2>
          <form class="form-inline" action="/compose" method="get" accept-charset="utf-8">
            <input type="hidden" name="entity_id" value="{{ entity_id }}">
            <input type="hidden" name="experience" id="input-experience" value="false">
            <button class="btn btn-success btn-large">
              yes
            </button>
            <button class="btn btn-inverse btn-large">
              no
            </button>
          </form>
          {{/truthknown}}
        </div>
      </section>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var buttons = document.querySelectorAll('.form-inline > button');
    Array.prototype.forEach.call(buttons, function(button) {
      button.addEventListener('click', function(ev) {
        var truth = document.getElementById('input-experience');
        if (ev.target.innerText == 'yes') {
          truth.value = 'true';
        } else {
          truth.value = 'false';
        }
      });
    });
  </script>
</body>
</html>
