<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>The Deception Game</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script src="/scripts/analytics.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    {{#person}}
    <div class="right-box">
      <a class="btn auth-btn" href="/logout">
        Logout
      </a>
      <span class="points-box label label-inverse">
        {{points}} points
      </span>
    </div>
    {{/person}}
    {{#reaction}}
    <div class="row">
      <section class="span8 offset2 reply alert alert-block alert-{{ alert_type }}">
        <div class="span1 picture">
          {{{ picture }}}
        </div>
        <div class="span6">
          <h4 class="alert-heading">{{ leader }}</h4>
          <p>{{{ text }}}</p>
          <p><em>{{ tweener }}</em></p>
        </div>
      </section>
    </div>
    {{/reaction}}
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          {{#truthknown}}
          <form class="form-vertical" action="/compose" method="post" accept-charset="utf-8">
            <h1>{{ title }}</h1>
            <label for="input-fragment">
              <p>{{{ statement_requested }}}</p>
            </label>
            <input type="hidden" name="entity_id" value="{{ entity_id }}">
            <input type="hidden" name="truth" value="{{ statement_truth }}">
            <p class="well experience-box">
              Your experience was
              {{{ stars }}}
            </p>
            <p class="control-group">
              <textarea name="fragment" placeholder="Pour your heart out here.." rows="6" id="input-fragment" required></textarea>
            </p>
            <p style="text-align: right;">
              <span id="word-count" style="display: none;">0</span>
              <button type="submit" class="btn btn-primary btn-large">review &rarr;</button>
              <a class="btn btn-large" href="/guess">skip</a>
            </p>
          </form>
          {{/truthknown}}
          {{^truthknown}}
          <p class="well">Have you ever {{actioned}} {{{ entity }}}?</p>
          <form class="form-inline" action="/compose" method="get" accept-charset="utf-8">
            <input type="hidden" name="entity_id" value="{{ entity_id }}">
            <input type="hidden" name="truth" id="input-truth" value="false">
            <button class="btn btn-primary btn-large">
              yes
            </button>
            <button class="btn btn-inverse btn-large">
              no
            </button>
          </form>
          {{/truthknown}}
        </div>
      </section>
    </div>
  </div>
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
