<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>guessing</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/guess.css" type="text/css" media="screen,handheld" charset="utf-8">
</head>
<body>
  <div class="container">
    <section class="span8 offset2">
      <div class="hero-unit">
        <h2>Do you think that this review is a lie or a truth?</h2>
        <p>
          {{ review }}
        </p>
        <a class="btn btn-success btn-large">
          truth
        </a>
        <a class="btn btn-inverse btn-large">
          lie
        </a>
      </div>
    </section>
  </div>
</body>
</html>
