<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>guessing</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/guess.css" type="text/css" media="screen,handheld" charset="utf-8">
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          <h2>Do you think that this statement about <a href="{{entity_website}}">{{entity_name}}</a>
            is deceptive?</h2>
          <p>
            {{ fragment }}
          </p>
          <form class="form-inline" action="/vote" method="post" accept-charset="utf-8">
            <input type="hidden" name="fragment_id" value="{{ fragment_id }}">
            <input type="hidden" name="truth" id="input-truth" value="false">
            <button class="btn btn-success btn-large">
              truth
            </button>
            <button class="btn btn-inverse btn-large">
              lie
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var buttons = document.querySelectorAll('.form-inline > button');
    Array.prototype.forEach.call(buttons, function(button) {
      button.addEventListener('click', function(ev) {
        var truth = document.getElementById('input-truth');
        if (ev.target.innerText == 'truth') {
          truth.value = 'true';
        } else {
          truth.value = 'false';
        }
      });
    });
  </script>
</body>
</html>
