<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>The Deception Game</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script src="/scripts/analytics.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    {{#person}}
    <div class="pull-left">
      <a class="btn btn-info test-button">Add one point</a>
    </div>
    <div class="right-box">
      <a class="btn auth-btn" href="/logout">
        Logout
      </a>
      <div class="points-box">
        <span>Points</span>
        <div class="points-holder" data-points="{{ points }}">
          <span class="points-surround"><span class="points">7</span></span><span class="points-surround"><span class="points">0</span></span><span class="points-surround"><span class="points">0</span></span>
        </div>
      </div>
    </div>
    {{/person}}
    {{#notification}}
    <div class="row">
      <section class="span8 offset2 message alert alert-block alert-{{ alert_type }}">
        <div class="span1 picture">
          {{{ picture }}}
        </div>
        <div class="span6">
          <h4 class="alert-heading">{{ leader }}</h4>
          {{{ text }}}
        </div>
      </section>
    </div>
    {{/notification}}
    {{#reaction}}
    <div class="row">
      <section class="span8 offset2 message alert alert-block alert-{{ alert_type }}">
        <div class="span1 picture">
          {{{ picture }}}
        </div>
        <div class="span6">
          <h4 class="alert-heading">{{ leader }}</h4>
          {{{ text }}}
          <p><em>{{ tweener }}</em></p>
        </div>
      </section>
    </div>
    {{/reaction}}
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          <h1>Discern</h1>
          <p>
            Do you think that this statement about the {{ entity_type }} {{{ entity }}} is deceptive?
          </p>
          <p class="well experience-box">
            The experience was
            {{{ stars }}}
          </p>
          <p class="well">
            {{ fragment }}
          </p>
          <form class="form-inline" action="/guess" method="post" accept-charset="utf-8">
            <input type="hidden" name="fragment_id" value="{{ fragment_id }}">
            <input type="hidden" name="truth" id="input-truth" value="false">
            <button class="btn btn-primary btn-large">
              authentic
            </button>
            <button class="btn btn-inverse btn-large">
              deceptive
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/underscore-min-1.3.3.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
