<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>lie to me</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script type="text/javascript" charset="utf-8">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30638441-2']);
    _gaq.push(['_setDomainName', 'babelon.co']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          {{#person}}
          <a class="btn btn-large auth-btn" href="/logout">
            Logout
          </a>
          {{/person}}
          {{^person}}
          <a class="btn btn-primary btn-large auth-btn" href="/login">
            Login with Facebook
          </a>
          {{/person}}
          <h1>Lie To Me!</h1>
          {{#person}}
          <p>
            You can either be a guesser or a writer. Pick one.
          </p>
          <a class="btn btn-info btn-large" href="/guess">
            guesser
          </a>
          <a class="btn btn-info btn-large" href="/compose">
            writer
          </a>
          {{/person}}
          {{^person}}
          <p>A game about truth and deception. With friends.</p>
          {{/person}}
        </div>
      </section>
    </div>
  </div>
  <!-- scripts -->
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
