<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>The Deception Game</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script src="/scripts/analytics.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <!-- navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand pull-left" href="/">
          The Deception Game
        </a>
        {{#person}}
        <ul class="nav pull-right">
          <li>
            <span>Score</span>
          </li>
          <li>
            <div class="points-holder" data-points="{{ points }}"></div>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href="#" class="person">
              <img src="{{picture}}">
              <span>{{ name }}</span>
            </a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
        {{/person}}
      </div>
    </div>
  </div>
  <!-- settings dialog -->
  <div id="settings" class="modal hide">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Settings</h3>
    </div>
    <div class="modal-body">
      <p>Change email</p>
      <p>Send Updates</p>
      <p>Post actions to Facebook</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Close</a>
      <a href="#" class="btn btn-primary">Save changes</a>
    </div>
  </div>
  <!-- page container -->
  <div class="container">
    <!-- streak box -->
    {{#streak}}
    <div class="right-box pull-right">
      <div class="streak-box rounded-box">
        <p>Guessing Streak</p>
        <p class="streak-number">{{streak}}</p>
      </div>
    </div>
    {{/streak}}
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          <h1 style="text-align: center; font-size: 75px;">The Deception Game</h1>
          <p style="margin-top: 35px;">
            Are you a good liar?<br />
            Think you can spot one?
          </p>
          <p style="text-align: right;">
            Let's find out how discerning you are...<br />
            and how deceptive you can be.
          </p>
          <p style="text-align: center; margin-top: 40px;">
            {{#person}}
            <a class="btn btn-large btn-primary" href="/guess">
              start playing
            </a>
            {{/person}}
            {{^person}}
            <a class="btn btn-primary btn-large" href="/login">
              Login with Facebook
            </a>
            {{/person}}
          </p>
        </div>
      </section>
    </div>
  </div>
  <!-- scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/addons.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
