<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- seo -->
  <title>lie to me</title>
  <meta name="description" content="a game to distinguish lies from truth" >
  <meta name="keywords" content="meaning,language,lies,truth">
  <!-- styles -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" media="screen,handheld" charset="utf-8">
  <!-- google analytics -->
  <script src="/scripts/analytics.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    {{#person}}
    <div class="right-box">
      <a class="btn auth-btn" href="/logout">
        Logout
      </a>
      <span class="points-box label label-inverse">
        {{points}} points
      </span>
    </div>
    {{/person}}
    {{#reaction}}
    <div class="row">
      <section class="span8 offset2 reply alert alert-block alert-{{ alert_type }}">
        <div class="span1 picture">
          {{{ picture }}}
        </div>
        <div class="span6">
          <h4 class="alert-heading">{{ leader }}</h4>
          <p>{{{ text }}}</p>
          <p><em>{{ tweener }}</em></p>
        </div>
      </section>
    </div>
    {{/reaction}}
    <div class="row">
      <section class="span8 offset2">
        <div class="hero-unit">
          <h2>Thanks!</h2>
          <p>Would you like to play another round of Lie To Me?</p>
          <a class="btn btn-info btn-large" href="/">
            <i class="icon-repeat icon-white"></i>
            back
          </a>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
