
@import "index.less";

.form-vertical .radio {
  margin-bottom: 10px;
}

.star-rating-group {
  display: inline-block;
  margin-left: 10px;
}
.rating {
  display: inline;
}
.rating i {
  vertical-align: baseline;
}
.rating input[type=radio]:enabled + i:hover {
  background-position: -120px 0;
}
.rating input[type=radio] {
  display: none;
}
