
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

/* logout button */

.auth-btn {
  float: right;
}

/* hero tweaks */

.container:first-child {
  margin-top: 40px;
}

.hero-unit {
  background-color: @white;
}

.hero-unit h1 {
  font-weight: 100;
  color: #777;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.hero-unit textarea {
  width: 630px;
  font: inherit;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f8f8;
}

.form-inline {
  text-align: right;
}

/* star ratings */

.star-rating-group {
  display: inline-block;
  margin-left: 10px;
}

.rating {
  display: inline;
}

.rating i {
  vertical-align: baseline;
}

.rating input[type=radio]:enabled + i:hover {
  background-position: -120px 0;
}

.rating input[type=radio] {
  display: none;
}

/* points box */

@right-box-size: 100px;
.right-box {
  float: right;
  width: @right-box-size;
}
.auth-btn {
  width: @right-box-size - 20px;
}
.points-box {
  display: inline-block;
  width: @right-box-size - 8px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

