
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

/* page layout */
.container:first-child {
  margin-top: 40px;
}

/* reply up top */

.message {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.message h4.alert-heading {
  margin-bottom: 6px;
}

.message .picture {
  vertical-align: top;
}

.message img {
  .square(@gridColumnWidth);
  .box-shadow(0 8px 8px -5px @grayDarker);
  .border-radius(4px);
}

.message p {
  margin-bottom: 0;
}

/* summaries */

.summary > .success {
  background-color: @successBackground;
  border: 1px solid @successBorder;
}

.summary > .failure {
  background-color: @errorBackground;
  border: 1px solid @errorBorder;
}

.header h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}

/* hero tweaks */

.hero-unit {
  background-color: @white;
  padding: 40px;
}

.hero-unit h1 {
  font-weight: 100;
  color: #777;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.hero-unit textarea {
  width: 630px;
  font: inherit;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f8f8;
}

.form-inline {
  text-align: right;
}

/* star ratings */

.experience-box {
  display: inline-block;
}

.star-rating-group {
  display: inline-block;
  margin-left: 10px;
}

.rating {
  display: inline;
}

.rating i {
  vertical-align: baseline;
}

.rating input[type=radio]:enabled + i:hover {
  background-position: -120px 0;
}

.rating input[type=radio] {
  display: none;
}

/* form control states */

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: inherit;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: inherit;
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: inherit;
}

.control-group.info input, .control-group.info select, .control-group.info textarea {
  color: inherit;
}

/* word count box */

#word-count {
  display: inline-block;
  padding: 7px 14px;
  line-height: normal;
  vertical-align: bottom;
  text-align: center;
}

/* top boxes */
@top-boxes-size: 170px;

.rounded-box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  .border-radius(3px);
  text-align: center;
}

.streak-box {
  width: @top-boxes-size;
  margin-top: 10px;
  background-color: darken(@orange, 5%);
  color: @white;
}

.streak-box .streak-number {
  font-size: 20px;
}

.right-box {
  position: fixed;
  top: 50px;
  right: 60px;
  width: @top-boxes-size;
  text-align: center;
}

.auth-btn {
  width: 80px;
}

.points-box {
  width: @top-boxes-size;
  margin-top: 10px;
  background-color: @grayDark;
  color: @white;
}

.points-box .points-holder {
}

.points-box .points-surround {
  display: inline-block;
  overflow: hidden;
  margin-left: 1px;
  margin-top: 5px;
  position: relative;
  width: 11px;
  height: 18px;
  padding: 6px;
}

.points-box .points {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  width: 11px;
  height: 18px;
  padding: 6px;
  #gradient > .vertical-three-colors(@grayDark, @gray, 30%, @grayDark);
}
